CalendarManager.xcodeproj/project.xcworkspace/xcuserdata/quadrani.xcuserdatad/WorkspaceSettings.xcsettings
CalendarManager.xcodeproj/xcuserdata/quadrani.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
CalendarManager.xcodeproj/xcuserdata/quadrani.xcuserdatad/xcschemes/CalendarManagerTests.xcscheme